<body class="fondoGris">


    <header class="container-fluid">
        <div class="logo"><img src="assets/images/logo.png" class="img-fluid"></div>

       <app-menu-horizontal></app-menu-horizontal>
    </header>


    <!-- ------------ Principal ------------ -->
    <div class="principal">

        <app-menu-vertical></app-menu-vertical>

      <!-- ------------ Tarjetas ------------ -->
      <div class="container ">
          <div class="contenedor-tarjetas">
              <div class="tarjeta">
                  <a href="./dauto">
                      <div class="divImagenSeguro">
                          <img src="assets/images/img10.png" onmouseover="this.src='assets/images/img9.png';" onmouseout="this.src='assets/images/img10.png';"  class="iconoContratarSeguroProducto" />
                      </div>
                      <div class="texto">
                          Autos
                      </div>
                  </a>
              </div>
          </div>
      </div>

  </div>
  <app-modal-salir></app-modal-salir>
  </body>
