<body class="center">
    <div class="margin-25">
      <figure>
        <img class="portalSeguroLogo" src="assets/images/iconosLogin/logo.png">
      </figure>
    </div>

    <h3 class="rojo w-800 primero text-center">Completa tu registro <br> ingresando tu contraseña</h3>

	<form class="signUp container" novalidate [formGroup]="formSignUpPassword">
      <div formGroupName="usuario">
          <div class="col padding-cero margin-25">
            <label class="gris margin-cero" for="email">Contraseña</label>
            <input type="password" formControlName="password" class="form-control padding-cero" id="inputPassword">
            <div *ngIf="isControlInvalid('usuario.password')" class="mps-invalid-feedback">Por favor ingrese la Contraseña</div>
          </div>

          <div class="col padding-cero margin-25">
            <label class="gris margin-cero" for="email">Vuelve a ingresar tu contraseña</label>
            <input type="password" formControlName="passwordconfirm" class="form-control padding-cero" id="input>PasswordConfirm">
            <div *ngIf="isControlInvalid('usuario.passwordconfirm')" class="mps-invalid-feedback">Por favor ingrese nuevamente la Contraseña</div>
          </div>
      </div>
		<button class="btn btn-lg btn-block btnIngresar margin-75" type="button" (click)="onSubmit()">Registrarse</button>

		<p class="gris text-center">¿Ya tienes cuenta? <b><a href="./login" class="gris">Ingresa ahora</a></b></p>

	</form>
  </body>
