<body class="fondoGris">


  <header class="container-fluid">
      <div class="logo"><img src="assets/images/logo.png" class="img-fluid"></div>

     <app-menu-horizontal></app-menu-horizontal>
  </header>


  <!-- ------------ Principal ------------ -->
  <div class="principal">

      <app-menu-vertical></app-menu-vertical>

      <!-- ------------ Tarjetas ------------ -->
      <div class="container ">
        <div class="contenedor-tarjetas">
            <div class="tarjeta">
                <a href="./producto">
                    <div class="divImagenSeguro">
                        <img src="assets/images/img2.png" class="iconoContratarSeguro" />
                    </div>
                    <div class="texto">
                        Contratar seguro
                    </div>
                </a>
            </div>
            <div class="tarjeta">
                <a href="#">
                    <div class="divImagenSeguro">
                        <img src="assets/images/img4.png" class="iconoGestionarSegurosContratados"/>
                    </div>
                    <div class="texto">
                        Gestionar seguros contratados
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>


<app-modal-salir></app-modal-salir>

</body>
