      <!-- ------------ Menu lateral ------------ -->
      <aside class="menu-lateral">

        <nav class="menu-vertical">
            <ul>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/1a.png" class="opcion1 activo">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/2.png" class="opcion2">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/3.png" class="opcion3">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/4.png" class="opcion4">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/1.png" class="opcion5">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/2.png" class="opcion6">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/3.png" class="opcion7">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icono">
                            <img src="assets/images/iconosMenu2/4.png" class="opcion8">
                        </div>
                        <div class="texto">
                            Cotizar
                        </div>
                    </a>
                </li>
            </ul>
        </nav>

    </aside>
