<nav class="menu-horizontal">
  <ul>
      <li>
          <a class="btn btn-primary px-0" href="#" role="button">
              <img src="assets/images/img6.png" class="img-fluid">
          </a>
      </li>
      <li>
          <a class="btn btn-primary px-0" href="#" role="button"  data-toggle="modal" data-target="#modalSalir">
              <img src="assets/images//img7.png" class="img-fluid">
          </a>
      </li>
      <li>
          <a class="btn btn-primary px-0" href="#" role="button">
              <img src="assets/images/img8.png" class="img-fluid">
          </a>
      </li>
  </ul>
</nav>
