
/***** Título *****/

body {
  font-family: IsidoraSans-Medium !important;
  background: #FCFCFC;
}

.center {
display: flex;
flex-direction: column;
align-items: center;
}

.container {
  max-width: 800px;
}

.wizard {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.principal.dashboard-mps {
  display: flex;
  flex: 1;
}

.dashboard-mps article {
  flex: 1;
}

header.dashboard-mps {
  background: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid rgba(221,221,221,0.7);
  position: relative;
  display: flex;
  justify-content: space-between;
}

header.dashboard-mps .menu-horizontal ul {
  display: flex;
  justify-content: flex-end;
}
.dashboard-mps nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header.dashboard-mps .menu-horizontal ul li {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

header.dashboard-mps .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu-horizontal{
  margin-top: -47px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

article header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(221,221,221,0.7);
  position: relative;
}

.rojo {
  color: #CA195B;
}
.wizard-elemento {
  flex: 1;
  text-align: center;
  align-self: center;
  align-self: flex-end;
}

.progressbar {
  counter-reset: step;
  padding: 0;
}

.progressbar li.active {
  color: #CA195B;
  z-index: 10;
}
.progressbar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  bottom: -0.6875rem;
}

.progressbar li.active:before {
  border-color: #CA195B;
  background-color: #CA195B;
}
.progressbar li:before {
  content: '';
  counter-increment: step;
  height: 11px;
  width: 11px;
  line-height: 30px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #ddd;
}


.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 5px;
  left: -50%;
}

.mensaje {
margin-top: 4rem;
margin-bottom: 2rem;
}

.rojo, a:hover {
color: #CA195B;
}

h3.rojo {
margin-bottom: 1.5rem;
margin-top: 4rem;
}

h3.rojo.primero {
margin-top: 2rem;
}

.gris {
color: #999;
}

.negrita {
font-family: IsidoraSans-Bold !important;
}


/***** Fin Título *****/

.portalSeguroLogo {
max-width: 220px;
}

.signUp {
margin: 0 25px !important;
width: -webkit-fill-available;
width: -moz-available;
}


/***** Contenedor *****/
.auto {
background: #ffffff;
margin-bottom: 2rem!important;
}

.auto .custom-select {
color: #999999;
background-image: none;
border-color: #999999;
}

.tarjeta {
background-color: #ffffff;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
padding: 30px 70px 30px 70px;
border: 1px solid transparent;
border-radius: 4px;
}

.cajon1{
  float: left;
  width: 588px;
  margin-left: -230px;
}
.cajon2{
  float:right;
  width: 618px;
  margin-right: -191px
}
.col-8 .row p {
  margin: 0 auto;
}
.detalleBoton {
  font-size: 1rem;
}
.gris {
  color: #999;
}


.radio label input[type=radio]:checked~.bmd-radio:before, label.radio-inline input[type=radio]:checked~.bmd-radio:before {
  background-color: #CA195B!important;
  transform: scale3d(.5,.5,1)!important;
}
.radio label .bmd-radio:before, label.radio-inline .bmd-radio:before {
  position: absolute!important;
  display: inline-block!important;
  width: 1.25rem!important;
  height: 1.25rem!important;
  content: "";
  background-color: #CA195B!important;
  border-radius: 50%!important;
  transition: transform .28s ease!important;
  transform: scale3d(0,0,0)!important;
}
*, :after, :before {
  box-sizing: border-box;
}

.auto {
  background: #ffffff;
  margin-bottom: 2rem!important;
}
.parrafoFormulario {
margin-bottom: 8px;

}

.spaceAround {
display: flex;
justify-content: space-around;
}

.radio label input[type=radio]:checked~.bmd-radio:before, label.radio-inline input[type=radio]:checked~.bmd-radio:before {
background-color: #CA195B;
}

.radio label input[type=radio]:checked~.bmd-radio:after, label.radio-inline input[type=radio]:checked~.bmd-radio:after {
border-color: #CA195B;
}

.radioButton {
margin: 0 1rem 1rem 0;
}

.bmd-form-group .radio label, .bmd-form-group label, .col label {
font-size: 1.1rem;
}

.cajita {
background-image: none;
border: 1px solid rgba(0,0,0,.26);
padding-left: 8px;
}

.form-control, .is-focused .form-control {
background-image: linear-gradient(0deg,#ca195b 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.bmd-form-group .form-control {
line-height: 1.5;
}

.custom-select:focus {
box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(196,194,194,.5);
}

button.btn.btn-secondary.btn-lg {
background-color: #ebebeb;
text-transform: none;
padding: .51rem .5rem;
font-size: 1.1rem;
font-weight: 800;
color: #999;
}

.btn:hover {
color: #5E666F;
}

.detalleBoton {
font-size: 1rem;
}

.adjFactura {
margin-top: 23px;
}



.negrita {
font-weight: 800;
}

.btnRojo, .btnRojo:hover {
background-color: #CA195B;
color: #ffffff;
font-size: 1.1rem;
font-weight: 800;
}


.btnGris {
background-color: #ebebeb;;
color: #5E666F;
font-size: 1.1rem;
font-weight: 800;
}

.remOnBottom {
margin-bottom: 1.3rem;
}

.w-800 {
font-weight: 800;
}

.btnIngresar, .btnIngresar:active, .btnIngresar:focus {
color: #CA195B;
border: 1px solid #CA195B;
text-transform: none;
}

.btnIngresar:hover, .btnCrearCuenta:hover {
background: #CA195B;
opacity: 1;
color: #FFF;
}
/***** Fin Contenedor *****/

.txt-end {
text-align: end;
}

.padding-cero {
padding: 0;
}

.margin-cero {
margin: 0;
}

.margin-25 {
margin-top: 25px;
}

.margin-75 {
margin-top: 75px;
}



label.gris {
font-weight: 800;
font-size: 1.1rem;
}


@media (max-width: 768px) {
.container {
  padding-left: 0;
  padding-right: 0;
}

.mensaje h1 {
  padding-left: 1rem;
  display: block;
}


.auto {
  padding: 1.5rem 1rem;
}

.row.margin-25 .col-md-6:nth-child(2){
  margin-top: 25px;
}

h3.rojo.w-800.primero.text-center{
  font-size: 1.4rem;
}

.portalSeguroLogo {
  max-width: 170px;
}

}
